USE [master]
GO
/****** Object:  Database [Geo]    Script Date: 12/09/2021 23:14:26 ******/
CREATE DATABASE [Geo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Geo', FILENAME = N'/var/opt/mssql/data/Geo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Geo_log', FILENAME = N'/var/opt/mssql/data/Geo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Geo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Geo]
GO
/****** Object:  Table [dbo].[Geocodificar]    Script Date: 12/09/2021 23:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Geocodificar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[Latitud] [varchar](50) NULL,
	[Longitud] [varchar](50) NULL,
	[Estado] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoGeo]    Script Date: 12/09/2021 23:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoGeo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](100) NOT NULL,
	[Numero] [int] NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[CP] [varchar](10) NOT NULL,
	[Provincia] [varchar](100) NOT NULL,
	[Pais] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
